
.overhead__block-bottom {
 min-height: 400px !important;
}

.authoriz__input {
  margin-bottom: 20px;
}

.password__input {
  margin-bottom: 40px;
}

.skan__button-cancel{
  width:230px!important;
  border:2px solid #d9d9da!important;
  background-color:inherit!important;
  color:#d9d9da!important;
}

.skan__button-cancel:hover{
  border:2px solid #63608b;
  color:#63608b;
}

.skan__block-link,.cursor-pointer {
  cursor: pointer;
}

.edit__block-form-item .select, 
.edit__block-form-item .list-select-selector,
.edit__block-form-item .list-select-option {
  width: 390px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}